/* Override Bootstrap table default styling */

/* Mobile first */
@media (max-width: 600px) {	
    td {
        padding: 0;
    }
}

.output-table {
    display: flex;
}
 
table {
    border: 1px solid #3215b4 !important;
}
 
th {
    border-bottom: 1px solid #3215b4;
    padding: 2em;
    background-color: #3215b4 !important;
    color: white !important;
}
 
td {
    padding: 15px !important
}

tr:hover {
    color: white;
    background-color: #2480bd;
}