@media (min-width: 0px) {	
  .phoneFrame {
    margin-top: 5em;
    width: auto;
    max-width: 65%;
  }
}
@media (min-width: 768px) {	
  .phoneFrame {
    margin-top: 2em;
    width: auto;
  }
}

.phoneFrame {
  position: fixed;
  top: 22%;
}

.parallaxItem img {
  height: 200px;
  width: 200px;
}

.filler {
  background: transparent;
  height: 2000px;
}

.parallaxText {
  position: fixed;
  color: rgb(50, 21, 180);
  top: 45%;
}

.left {
  left: 10%;
}

.right {
  right: 10%;
}

