@media (min-width: 0px) {	
    .cycleBox {
        position: fixed;
        top: 13em;
        left: 6.0em;
        font-size: 1em;
    }
}

@media (min-width: 768px) {	
.cycleBox {
    position: sticky;
    margin-top: 3em;
    left: 0em;
    font-size: 32px;
    display: flex;
    transform: translateX(-4em);
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* margin-left: 50px; */
    /* width: calc(100%-50px); */
    }
}

.word
{
display: inline-block;
white-space: nowrap; 
color: rgb(50, 21, 180);
font-weight: bold;
margin-left: 10px;
}

.word span
{
position: absolute;
top: 0;
overflow: hidden;
animation: animate 10s linear infinite;
opacity: 0;
}

.afterCycle
{
display: inline-block;
margin-left: 400px;
}

@keyframes animate
{
0%
{ 
opacity: 0;
transform: translateY(-50px);
}

2%
{ 
opacity: 1;
transform: translateY(0px);
}

18%
{ 
opacity: 1;
transform: translateY(0px);
}

20%
{ 
opacity: 0;
transform: translateY(50px);
}

100%
{ 
opacity: 0;
transform: translateY(50px);
}
}

.word span:nth-child(1)
{
animation-delay: 0s;
}

.word span:nth-child(2)
{
animation-delay: 2s;
}

.word span:nth-child(3)
{
animation-delay: 4s;
}

.word span:nth-child(4)
{
animation-delay: 6s;
}

.word span:nth-child(5)
{
animation-delay: 8s;
}